/* Write your CSS here */
body {
  margin: 0;
  font-family: 'Roboto';
}
.app-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 20%;
  height: 100px;
}
.search-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  border-radius: 12px;
}
.search-bar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.search-bar {
  background-color: #ffffff;
  outline: none;
  border: none;
  flex-grow: 1;
}
.delete-button {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: none;
}
.delete-img {
  height: 15px;
  width: 15px;
}
